<section id="input-<%= input.id %>" class="panel panel-default variable col-md-4">
  <div class="name panel-heading">
    <%= input.name%> <!--.sub!('_', ' ')%> -->
  </div>
  <div class="panel-body">
    <section>
    <span id="<%= input.name %>-value">
    <br>
    </span>
    </section>
    <%= form_with(model: [@unit, input], url: update_input_url(@user, @unit, input)) do |f| %>
      <%= f.label :new_value %><br>
      <%= f.text_field :new_value %>
      <%= hidden_field_tag :unit_id, unit.id %>
      <%= f.submit %>
    <% end %>
  </div>
  <!--<div class="panel-footer">
  </div>-->
</section>