
<section id="new_input_form">
  <%= form_for(@input, url: new_user_unit_input_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :register_address %>
  <%= f.text_field :register_address %>
  <br>
  <%= f.label :bit_index%>
  <%= f.text_field :bit_index %>
  <br>
  <%= f.label :length%>
  <%= f.text_field :length %>
  <br>
  <%= f.label :units%>
  <%= f.text_field :units %>
  <br>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</section>
<section id="new_input_form">
  <%= form_for(@input, url: new_user_unit_input_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :register_address %>
  <%= f.text_field :register_address %>
  <br>
  <%= f.label :bit_index%>
  <%= f.text_field :bit_index %>
  <br>
  <%= f.label :length%>
  <%= f.text_field :length %>
  <br>
  <%= f.label :units%>
  <%= f.text_field :units %>
  <br>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</section>