<section class=" col-md-4">
    <%= link_to user_path(user) do %>
      <section class="panel panel-default user-partial">
        <section class="panel-heading">
          <%= user.name %>
        </section>
      </section>
    <% end %>
</section>