<section class="alert alert-danger">
    <h3>
    Error
    </h3>
    <div>
    Time:
    <%= @error.time if @error.time %>
    </div>
    <div>
    Details:
    <%= @error.details %>
    </div>
</section>