<section class="admin-bar">
  <%= link_to "Add Input", new_variable_url(method: 'input') %>
  <%= link_to "Add Output", new_variable_url(method: 'output') %>
  <%= link_to "Edit Unit", edit_unit_url%>
  <%= link_to "Delete Unit", delete_unit_url%>
  <%= render 'shared/admin-options' %>
</section>