<%= link_to(unit_path(@user, unit), method: 'get', remote: false) do %>
  <section class="panel panel-default unit-partial">
    <section class="panel-heading">
      <%= unit.name %>
    </section>
    <section class="panel-body">
      <%= unit.description %>
    </section>
  </section>
<% end %>