<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    Please enter the client and unit name to delete unit
    <%= form_tag do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= label_tag :user_name, "Client name" %>
      <%= text_field_tag :user_name %>

      <%= label_tag :unit_name, "Unit name" %>
      <%= text_field_tag :unit_name %>
      
      <%= submit_tag "Delete unit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>