<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@unit, url: edit_unit_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :plc_ip %>
      <%= f.text_field :plc_ip, class: 'form-control' %>

      <%= f.label :plc_port %>
      <%= f.text_field :plc_port, class: 'form-control' %>

      <%= f.label :short_update_period %>
      <%= f.text_field :short_update_period, class: 'form-control' %>

      <%= f.label :long_update_period %>
      <%= f.text_field :long_update_period, class: 'form-control' %>
      
      <%= f.submit "Edit unit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>