<h1>New Unit for <%= link_to current_user.name, user_url(current_user) %></h1>

<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@unit, url: new_unit_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :plc_ip %>
      <%= f.text_field :plc_ip, class: 'form-control' %>

      <%= f.label :plc_port %>
      <%= f.text_field :plc_port, class: 'form-control' %>

      <%= f.label :identification, "Identification Number" %>
      <%= f.text_field :identification, class: 'form-control' %>

      <%= f.label :psk, "Pass key" %>
      <%= f.text_field :psk, class: 'form-control' %>
      
      <%= f.submit "Create unit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>