<% if admin? and nil %>
<section>
Identification: <%= @unit.identification %>
<br />
PassKey: <%= @unit.psk %> 
</section>
<% end %>

<% if @unit.inputs.length > 0 %>
<section id="inputs-container" class="container">
  <section class="variable-grid">
    <%= render partial: @unit.variables.where(method: 'input'), :locals => {:unit => @unit, :user => @user}%>
  </section>
</section>
<% end %>

<% if @unit.outputs.length > 0 %>
<section id="outputs-container" class="container">
  <h2>
    Outputs
  </h2>
  <section class="variable-grid">
    <%= render partial: @unit.outputs, :locals => {:unit => @unit, :user => @user} %>
  </section>
</section>

<% end %>