@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  padding: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-fixed-top {
  height: 50px;
  margin: 0px;
}

/* sidebar */

#sidebar {
  background-color: grey;
  position: fixed;
  top: 50px;
  height: 100%;
  z-index: 1;
  border-radius: 0px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* admin */


.admin-bar {
  background: #811;
  z-index: 1;
  top: 50px;
  * {
    color: white;
    padding: 5px;
    display: inline;
  }
}

#admin-options {
  display: inline;
  li {
    color: white;
  }
}

/* Variables */

.change-form {
  display: none;
}

.input-title:hover {
  cursor: pointer;
}

.output {
    width: 30%;
    min-height: 80px;
}