// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unit-partial {
    width: 30%;
    text-decoration: none;
}

.unit-partial:hover {
    text-decoration: none;
} 

h1, h2 {
  text-align: left;
}

.variable {
  margin: 10px;
}


#unit-options {
  right: 0px;
}