<% if variable.method == 'output' %>
<section id="variable-<%= variable.name %>" class="output panel panel-default variable col-md-4">
  <%= link_to(variable_path(@user, @unit, variable)) do %>
    <div class="name panel-heading">
      <%= strip(variable.name)%> <!--.sub!('_', ' ')%> -->
    </div>
  <% end %>
  <div class="panel-body">
    <section>
    <span id="<%= variable.name %>-value">
    <br>
    </span>
    </section>
  </div>
</section>

<% else %>
<section  id="variable-<%= variable.name %>" class="variable input panel panel-default col-md-2">
  <section class="input-title">
  <% if variable.units == 'boolean' %>
    <% [' On', ' on', ' Off', 'off'].each do |str| %>
      <% if variable.name.gsub('_', ' ').end_with?(str) %>
        <%= @formatedName = variable.name.gsub('_', ' ').chomp(str) %>
      <% end %>
    <% end %>
    is 
    <span id="<%= variable.name %>-value">
    <br>
    </span>
  <% else %>
    <%= variable.name.gsub('_', ' ') %>
    is
    <%= variable.current_value %>
    <%= variable.units %>
  <% end %>
  </section>
  <section class="change-form">
      <% if variable.units == "boolean" and nil %>
        <%= form_with(model: [@unit, variable], url: update_variable_url(@user, @unit, variable)) do |f| %>
          <%= hidden_field_tag :unit_id, unit.id %>
          <%= hidden_field_tag :new_value, -1 %>
          <%= f.submit "Switch #{@formatedName}"%>
        <% end %>
      <% else %>
        <%= form_with(model: [@unit, variable], url: update_variable_url(@user, @unit, variable)) do |f| %>
          <%= f.text_field :new_value %>
          <%= hidden_field_tag :unit_id, unit.id %>
          <%= f.submit "Update"%>
        <% end %>
      <% end %>
      <%= link_to(variable_path(@user, @unit, variable)) do %>
      <%= 'more' %>
      <% end %>
  </section>
</section>
<% end %>