<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    Please enter the client, unit, and variable name to delete variable
    <%= form_tag do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= label_tag :given_user_name, "Client name" %>
      <%= text_field_tag :given_user_name %>

      <%= label_tag :given_unit_name, "Unit name" %>
      <%= text_field_tag :given_unit_name %>
      
      <%= label_tag :given_variable_name, "Variable name" %>
      <%= text_field_tag :given_variable_name %>
      
      <%= submit_tag "Delete variable", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>