<h1>New Variable</h1>

<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@variable, url: new_variable_path(:method => params[:method])) do |f| %>
      <%= render 'error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :register_address %>
      <%= f.text_field :register_address %>
      
      <%= f.label :bit_index%>
      <%= f.text_field :bit_index %>
      
      <%= f.label :length, "Number of bits (16 per holding register)"%>
      <%= f.text_field :length %>
      
      <%= f.label :units%>
      <%= f.text_field :units %>
    
      <%= f.hidden_field :method, :value => params[:method]||=nil %>
      
      <%= f.submit "Create variable", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>