<h2>
  <%= strip(@variable.name) %>
</h2>

<section class="variable">
<span id="<%= @variable.name %>-value">
<br>
</span>
<div id="chart">

</div>
</section>
<section>
  <%= render @error if @error %>
</section>