<section id="output-<%= output.id %>" class="panel panel-default variable col-md-4">
  <div class="name panel-heading">
    <%= output.name%> <!--.sub!('_', ' ')%> -->
  </div>
  <div class="panel-body">
    <section>
    <span id="<%= output.name %>-value">
      <br>
    </span>
    </section>
  </div>
  <!--<div class="panel-footer">
  </div>-->
</section>