<h1>Edit <%= link_to @output.name %></h1>

<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@output, url: edit_output_path) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :register_address %>
      <%= f.text_field :register_address %>
      
      <%= f.label :bit_index%>
      <%= f.text_field :bit_index %>
      
      <%= f.label :length%>
      <%= f.text_field :length %>
      
      <%= f.label :units%>
      <%= f.text_field :units %>
      
      <%= f.submit "Edit unit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>