<section class="admin-bar">
  <% if @variable %>
    <% if @variable.name and params.key?(:variable_name) %>
      <%= link_to "Edit Variable", edit_variable_path %>
      <%= link_to "Delete Variable", delete_variable_path %>
    <% end %>
  <% elsif @unit %>  
    <% if @unit.name %>
      <%= link_to "Add Input", new_variable_url(method: 'input') %>
      <%= link_to "Add Output", new_variable_url(method: 'output') %>
      <%= link_to "Edit Unit", edit_unit_url%>
      <%= link_to "Delete Unit", delete_unit_url%>
    <% end %>
  <% elsif @user %>
    <% if @user.name %>
      <%= link_to "Add unit", new_unit_url(@user.name) %>
    <% else %>
      <%= link_to "New User", signup_url %>
    <% end %>
  <% end %>
  <%= link_to "All Users", show_users_url %>
</section>