<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SCADA test", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= 
        if logged_in?
          link_to "Units", user_url(current_user)
        else
          link_to "Home",   root_url 
        end
        %></li>
        <li><%= link_to "Help",   '#' %></li>        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Account", account_url(current_user) %></li>
            <li><%= link_to "Settings", '#' %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>