<nav id="sidebar" class="navbar col-s-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Units", user_path(current_user) %></li>
    <li><a href=units_url>Units</a></li>
  </ul>
</nav>