<% if @unit.name %>
  <section id="unit-header">
    <%= link_to(unit_url(current_user, @unit)) do %>
      <h1>
        <%= @unit.name.gsub('_', ' ') %>
      </h1>
    <% end %>
    <p class="col-md-4">
      <%= @unit.description %>
    </p>
  </section>
<% end %>

<section>
  <%= yield %>
</section>

<% parent_layout "application" %>