<section class="jumbotron">
  <h1>
    User: <%= @user.name %>
  </h1>

 <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Add Unit", new_unit_variable_url(unit_id: @user.id), method: 'get'%></li>
    </ul>
  </nav>
</section>
<section>
<%= yield %>
</section>

<% parent_layout "application" %>